<h1>Hospital Info for <%= @hospital.name %></h1>

<div id="hospital-<%= @hospital.id %>-info">
  <p> Hospital Name: <%= @hospital.name %></p>
    <div id="hospital-doctors">
      <ul>
        
        <% @hospital.doctors.each do |doctor| %>
          <div id="doctor-<%= doctor.id %>">
          <li><%= doctor.name %> - Caseload: <%= doctor.patients.count %></li>
          </div>
        <% end %>
        
      </ul>
    </div>
</div>