<h1>Info about <%= @doctor.name %></h1>

<div id="doctor-info">
  <h2>Doctor Info:</h2>
  <p>Doctor's Name: <%= @doctor.name %></p>
  <p>Doctors Field of Specialty: <%= @doctor.specialty %></p>
  <p>University where they got their Doctorate: <%= @doctor.university %></p>
  <p>Practicing Hospital: <%= @doctor.hospital.name %></p>
</div>

<div id="doctor-<%= @doctor.id %>-patients">
  <h2>Caseload:</h2>
  <ul>
    <% @doctor.patients.each do |patient| %>
      <div id="patient-<%= patient.id %>"> 
        <li><%= patient.name %></li>
        <%= button_to "Remove from Caseload", doctor_patient_path(@doctor, patient), method: :delete %>
      </div>
    <% end %>
  </ul>
</div>