<h1>Info about <%= @doctor.name %></h1>

<div id="doctor-info">
  <p>Doctor's Name: <%= @doctor.name %></p>
  <p>Doctors Field of Specialty: <%= @doctor.specialty %></p>
  <p>University where they got their Doctorate: <%= @doctor.university %></p>
  <p>Practicing Hospital: <%= @doctor.hospital.name %></p>
</div>

<div id="doctor-<%= @doctor.id %>-patients">
  <ul>
    <% @doctor.patients.each do |patient| %>
      <li><%= patient.name %></li>
    <% end %>
  </ul>
</div>